# ---------------- 仮想環境 ----------------
.venv*/
.venv-alexa/
.venv-bard/

# ---------------- データ ------------------
data/
data_ChatRec/
data/

# ── src 配下をまるごと無視 ─────────────────────
/src/**           # ファイルもディレクトリも全部
!/src/**/*.py    # ← 必要な拡張子だけ ! で“再 include”
!/src/**/*.ipynb

/src-chatrec/**           # ファイルもディレクトリも全部
!/src-chatrec/**/*.py    # ← 必要な拡張子だけ ! で“再 include”
!/src-chatrec/**/*.ipynb

# ---------------- 環境変数など ------------
.env

# ---------------- キャッシュ類 -----------
.cache/
.config/
.bash_history

# ---------------- 生成物 ------------------
*.pyc
__pycache__/

# ---------------- OS/IDE ごみ -------------
.DS_Store

# ---------------- 追跡したい場合は否定 ----
#!LICENSE           # ← LICENSE を **追跡したい** 場合はこの行を使い、
#LICENSE            #    こちらを削除またはコメントアウト

README_memo.md